/* Variables */
@import "base/variables.less";
/* Mixins */
@import "base/mixins.less";
@import "base/_mixins.less";
@import "common.less";

.list-block {
  margin: 0;
}

.buttons-tab {
  .tabs-link.active {
    color: #f42241;
    border-color: #f42241;
  }
  .tabs-link {
    font-size: 13px;
  }
}

a.button:active {
  color: #f42241;
  border-color: #f42241;
}

.bar-tab .tab-item {
  border-left: 1px solid #ddd;
}

.icon {
  img {
    width: 100%;
  }
}

.bar-tab .tab-item .icon ~ .tab-label {
  vertical-align: middle;
  height: 1.2rem;
  display: inline-block;
  color: #000;
  font-size: 12px;
}

.per-info {
  position: relative;
  height: 68px;
  width: 100%;
  background: #fff;
  line-height: 63px;
  padding: 0 8px;
  margin-bottom: 5px;
  font-size: 0;
  .note-avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    display: inline-block;
  }
  .note-per {
    padding-left: 10px;
    vertical-align: middle;
    display: inline-block;
    line-height: 1;
    .note-per-title {
      color: #111;
      font-size: 15px;
      padding-bottom: 4px;
    }
    .note-per-content {
      color: #bbb;
      font-size: 10px;
      span {
        padding-left: 5px;
      }
    }
  }
  .note-concern {
    position: absolute;
    display: inline-block;
    right: 8px;
    bottom: 50%;
    margin-bottom: -11px;
    width: 60px;
    height: 22px;
    line-height: 22px;
    font-size: 11px;
    color: #f42241;
    border: 1px solid #f42241;
    border-radius: 11px;
    text-align: center;
    &.haven {
      color: #bbb;
      border: 1px solid #bbb;
    }
  }
}

#page-strategy {
  .buttons-tab .button {
    height: 37.5px;
    line-height: 37.5px;
  }
  .buttons-tab .tabs-link.active {
    color: #1c1c20;
    border-color: #1c1c20;
  }
  .tabs {
    padding: 0 12px 60px 12px;
  }
  .m-part {
    margin: 14px 0;
    background: #1c71d9;
    color: #fff;
    border-radius: 5px;
    padding: 15px 10px;
    .u-part-title {
      font-size: 16px;
      padding-bottom: 5px;
    }
    .u-part-text {
      font-size: 12px;
    }
  }
  .m-info {
    background: #fff;
    border-radius: 5px;
    padding: 20px 18px;
    margin-bottom: 14px;
  }
  .m-info-panel {
    display: flex;
    text-align: center;
    padding-bottom: 20px;
    .m-info-box {
      flex: 1;
      font-size: 15px;
      .u-info-title {
        color: #b6b6b6;
        padding-bottom: 10px;
      }
      .u-info-num {
        font-weight: 700;
      }
    }
  }
  .m-info-panel:last-child {
    padding-bottom: 0;
  }
  .m-xieyi {
    font-size: 14px;
    padding-bottom: 10px;
    .u-xieyi-title {
      color: #b6b6b6;
    }
    .u-xieyi-name {
      float: right;
      color: #1c71d9;
    }
  }
  .m-xieyi:last-child {
    padding-bottom: 0;
  }
  .m-suggest {
    padding: 0;
  }
  .m-suggest-title {
    padding: 20px 0;
    .m-suggest-t-left {
      height: 47px;
      border-left: 6px solid #000;
      padding-left: 10px;
      display: inline-block;
      width: 75%;
      .u-suggest-t {
        font-size: 16px;
        padding-bottom: 5px;
      }
      .u-suggest-tips {
        font-size: 12px;
        color: #b6b6b6;
      }
    }
    .u-avatar {
      float: right;
      width: 50px;
      height: 50px;
      margin-right: 20px;
      border-radius: 50%;
    }
  }
  .m-suggest-panel {
    font-size: 13px;
    margin: 0 20px;
    padding: 10px 0;
    border-top: 1px solid #f1f1f1;
    .u-suggest-title {
      color: #1c71d9;
      padding-bottom: 5px;
    }
  }
  .u-down {
    margin: 0 auto 14px auto;
    display: block;
    width: 39px;
    height: 39px;
  }
  .u-info-img {
    width: 100%;
  }
  .m-plate_sure_layer {
    height: 400px;

    text-align: left;
    padding-top: 30px;
    line-height: 1.5;
    font-size: 13px;
    .m-alert-content {
      overflow-y: scroll;
      height: 350px;
    }
  }
}

#page-openAccount {
  .buttons-tab .button {
    height: 37.5px;
    line-height: 37.5px;
  }
  .buttons-tab .tabs-link.active {
    color: #1c1c20;
    border-color: #1c1c20;
  }
  .buttons-tab .a.button:active {
    color: #1c1c20;
    border-color: #1c1c20;
  }
  .tabs {
    width: 100%;
    height: 580px;
    background: url('../images/gencao/bg_openAccount.png') no-repeat center;
    margin-bottom: 60px;
    background-size: cover;
    position: relative;
    .u-qrcode {
      position: absolute;
      left: 50%;
      margin-left: -68px;
      top: 396px;
      width: 136px;
      height: 136px;
    }
    .u-tips {
      position: absolute;
      display: block;
      width: 100%;
      left: 0;
      top: 360px;
      text-align: center;
      font-weight: bold;
      color: #000;
      font-size: 13px;
    }
  }
}

#page-applyInvest {
  .m-invest-panel {
    display: flex;
    font-size: 15px;
    background: #ffffff;
    padding: 17px 13px;
    border-bottom: 1px solid #d2d2d2;
    .u-invest-title {
      width: 120px;
    }
    .u-invest-input {
      flex: 1;
      input {
        width: 100%;
        color: #d0d0d0;
        border: none;
        overflow: hidden;
      }
    }
    .u-invest-yanz {
      white-space: nowrap;
      input {
        width: 130px;
      }
      .u-invest-button {
        display: inline-block;
        width: 85px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        border: 1px solid #e84d48;
        font-size: 13px;
        color: #e84d48;
        border-radius: 5px;
      }
    }
  }
  .m-invest-panel:last-child {
    border: none;
  }
  .m-invest-tips {
    margin: 17px 13px;
    background: #fff;
    font-size: 14px;
    padding: 15px;
    .u-invest-tips-panel {
      display: flex;
      .u-invest-tips-l {
        color: #b6b6b6;
        width: 95px;
      }
      .u-invest-tips-r {
        flex: 1;
        color: #1c71d9;
        text-align: right;
      }
    }
    .u-invest-tips-panel:last-child {
      padding-top: 6px;
    }
  }
  .m-invest-checkbox {
    padding-left: 13px;
    i {
      width: 14px;
      height: 14px;
      display: inline-block;
      vertical-align: middle;
      background: url('../images/gencao/check_r.png') no-repeat center;
      background-size: 14px;
    }
    i.nocheck {
      background: url('../images/gencao/check_n.png') no-repeat center;
      background-size: 14px;
    }
    span {
      height: 14px;
      display: inline-block;
      vertical-align: middle;
      color: #a3a3a3;
      padding-left: 10px;
      font-size: 12px;
    }
  }
  .u-invest-apply {
    font-size: 15px;
    color: #fff;
    width: 232px;
    height: 45px;
    line-height: 45px;
    background: #e84d48;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto 10px auto;
  }
  .m-invest-tipBox {
    font-size: 11px;
    text-align: center;
    padding-bottom: 20px;
    .u-invest-tipBox-p {
      color: #a3a3a3;
    }
    .u-invest-p-red {
      color: #e84d48;
    }
  }
  .m-plate_sure_layer {
    height: 400px;

    text-align: left;
    padding-top: 30px;
    line-height: 1.5;
    font-size: 13px;
    .m-alert-content {
      overflow-y: scroll;
      height: 350px;
    }
  }
}

#page-applyEnter {
  .bar-tab {
    height: 38px;
    background: #f6f6f6;
  }
  .bar-tab .tab-item {
    height: 38px;
    border-left: 1px solid #ddd;
  }
  .bar-tab .tab-item .icon {
    height: 20px;
    width: 20px;
    line-height: 20px;
    padding: 0;
    top: 0;
    img {
      display: block;
      width: 100%;
    }
  }
  .bar-tab .tab-item .icon ~ .tab-label {
    vertical-align: middle;
    height: 20px;
    top: 0;
    display: inline-block;
    color: #000;
    font-size: 12px;
  }
  .m-invest-panel {
    display: flex;
    font-size: 15px;
    background: #ffffff;
    padding: 17px 13px;
    border-bottom: 1px solid #d2d2d2;
    .u-invest-title {
      width: 120px;
    }
    .u-invest-input {
      flex: 1;
      input {
        width: 100%;
        color: #d0d0d0;
        border: none;
        overflow: hidden;
      }
      select {
        appearance: none;
        width: 100%;
        color: #d0d0d0;
        border: none;
        overflow: hidden;
      }
    }
    .u-invest-yanz {
      white-space: nowrap;
      input {
        width: 130px;
      }
      .u-invest-button {
        display: inline-block;
        width: 85px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        border: 1px solid #e84d48;
        font-size: 13px;
        color: #e84d48;
        border-radius: 5px;
      }
    }
    .u-invest-upload {
      position: relative;
      input {
        width: 180px;
      }
      .upload-qrcode {
        position: absolute;
        width: 27px;
        height: 27px;
        right: 10px;
        top: -5px;
      }
    }
  }
  .m-invest-panel:last-child {
    border: none;
  }
  .m-invest-checkbox {
    display: inline-block;
    padding-right: 10px;
    i {
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      background: url('../images/gencao/check_r.png') no-repeat center;
      background-size: 15px;
    }
    i.nocheck {
      background: url('../images/gencao/check_n.png') no-repeat center;
      background-size: 15px;
    }
    span {
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      padding-left: 10px;
      line-height: 16px;
      font-size: 15px;
    }
  }
  .u-invest-apply {
    font-size: 15px;
    color: #fff;
    width: 232px;
    height: 45px;
    line-height: 45px;
    background: #e84d48;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto 10px auto;
  }
  .m-invest-tipBox {
    font-size: 11px;
    text-align: center;
    padding-bottom: 20px;
    .u-invest-tipBox-p {
      color: #a3a3a3;
    }
    .u-invest-p-red {
      color: #e84d48;
    }
  }
}

.m-strategy-foot {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  height: 60px;
  border-top: 1px solid #e8e8e8;
  background: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  .m-s-foot-box {
    float: left;
    width: 50%;
    padding-top: 8px;
    .u-s-share {
      display: inline-block;
      width: 160px;
      height: 43px;
      line-height: 43px;
      background: #1c71d9;
      font-size: 16px;
      color: #fff;
      border-radius: 5px;
    }
    .u-s-invite {
      display: inline-block;
      width: 160px;
      height: 43px;
      line-height: 43px;
      background: #ff6508;
      font-size: 16px;
      color: #fff;
      border-radius: 5px;
    }
  }
}

//遮罩层
.m-alert {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  .close_box {
    position: absolute;
    color: @color-primary;
    right: 0;
    top: 0;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    .close_img {
      width: 18px;
    }
  }
  .m-plate_sure_layer {
    position: absolute;
    left: 50%;
    top: 35%;
    margin-left: -150px;
    margin-top: -100px;
    width: 300px;
    height: 250px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 30px;
    text-align: center;
    .button_box {
      margin-top: 20px;
      font-size: @font-ft1;
      color: #fff;
      button {
        border: none;
        padding: 0;
      }
      .button-right {
        line-height: 42px;
        height: 42px;
        width: 100%;
        background-color: #f85943;
        border-radius: 5px;
      }
    }
  }
  .m-red-layer {
    position: absolute;
    left: 50%;
    top: 35%;
    margin-left: -150px;
    margin-top: -100px;
    width: 300px;
    background: #f42241;
    border-radius: 5px;
    .red-layer-banner {
      background: url('../images/other/redbag.png') no-repeat center;
      background-size: 100%;
      width: 100%;
      height: 122px;
      padding-top: 20px;
      .red-avatar {
        display: block;
        margin: 0 auto;
        width: 45px;
        height: 45px;
      }
      .red-name {
        text-align: center;
        color: #fff5b4;
        font-size: 12px;
        padding-top: 5px;
      }
    }
    .red-layer-content {
      text-align: center;
      padding-bottom: 23px;
      .red-c-img {
        display: block;
        margin: 0 auto;
        width: 70px;
        height: 70px;
      }
      .red-c-money {
        font-size: 19px;
        color: #fff5b4;
      }
      .red-c-input {
        border: 0;
        border-radius: 5px;
        width: 245px;
        height: 35px;
        line-height: 35px;
        padding: 0 5px;
        font-size: 13px;
        margin: 25px 0;
      }
      .red-c-button {
        margin: 0 auto;
        width: 245px;
        height: 35px;
        line-height: 35px;
        background: #fde434;
        border-radius: 35px;
        font-weight: 700;
        color: #f42241;
        font-size: 15px;
      }
    }
  }
  .m-alert-share {
    display: block;
    width: 80%;
    margin: 20px auto 0 auto;
  }
}

#page-member {
  .buttons-tab .button {
    height: 37.5px;
    line-height: 37.5px;
  }
  .buttons-tab .tabs-link.active {
    color: #1c1c20;
    border-color: #1c1c20;
  }
  .buttons-tab .a.button:active {
    color: #1c1c20;
    border-color: #1c1c20;
  }
  .m-member-panel {
    display: flex;
    padding: 12px 10px;
    background: #f9f9f9;
    border-bottom: 1px solid #ddd;
    .m-member-l {
      width: 60px;
      margin-right: 10px;
      font-size: 12px;
      img {
        display: block;
        width: 60px;
        height: 60px;
        margin-bottom: 3px;
      }
    }
    .m-member-c {
      color: #666;
      font-size: 12px;
      width: 160px;
      margin-right: 20px;
      div {
        padding-bottom: 2px;
      }
      .u-up {
        color: #f24848;
        font-weight: bold;
      }
      .u-down {
        color: green;
        font-weight: bold;
      }
      .u-status {
        color: #333;
        font-weight: bold;
      }
    }
    .m-member-r {
      color: #666;
      .m-box {
        padding-bottom: 10px;
      }
      .u-money {
        color: #f24848;
      }
      .u-get {
        background: #f24848;
        color: #fff;
        border-radius: 5px;
        padding: 5px;
      }
      .u-person {
        border: 1px solid #f24848;
        color: #f24848;
        text-align: center;
        display: inline-block;
        float: right;
        padding: 2px 5px;
        border-radius: 5px;
      }
    }
  }
}

#page-question {
  background: #fff;
  .m-question-foot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3px;
    border-top: 1px solid #ddd;
    input {
      border: 1px solid #ededed;
      width: 80%;
      display: inline-block;
      vertical-align: middle;
      height: 40px;
      line-height: 40px;
      margin-right: 10px;
      background: #f7f7f7;
    }
    .u-btn {
      display: inline-block;
      vertical-align: middle;
      font-size: 13px;
      color: #fff;
      background: #f24848;
      text-align: center;
      width: 15%;
      height: 40px;
      line-height: 40px;
      border-radius: 5px;
    }
  }
  .m-question {
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    .u-avatar {
      width: 64px;
      height: 64px;
      display: block;
      margin-right: 20px;
    }
    .m-qusetion-r {
      width: 260px;
      .m-question-status {
        font-size: 12px;
        color: #a4a4a4;
        span {
          padding-right: 5px;
        }
      }
      .m-question-content {
        padding: 15px;
        width: 260px;
        background: #f7f7f7;
        margin-top: 5px;
      }
    }
  }
  .m-answer {
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    .u-avatar {
      width: 64px;
      height: 64px;
      display: block;
      margin-left: 20px;
    }
    .m-qusetion-r {
      width: 260px;
      .m-question-status {
        font-size: 12px;
        color: #a4a4a4;
        text-align: right;
        span {
          padding-right: 5px;
        }
      }
      .m-question-content {
        padding: 15px;
        width: 260px;
        background: #f7f7f7;
        margin-top: 5px;
      }
    }
  }
}

#page-inviter {
  background: #fff;
  .u-banner {
    width: 100%;
    display: block;
  }
  .u-tips-one {
    text-align: center;
    color: #868686;
    font-size: 15px;
    margin: 5px 0;
  }
  .u-tips-two {
    text-align: center;
    color: #323232;
    font-size: 15px;
  }
  .u-card {
    display: block;
    width: 217px;
    height: 160px;
    margin: 30px auto 25px auto;
  }
  .u-name {
    width: 306px;
    height: 52px;
    margin: 0 auto;
    background: #f3ce97;
    text-align: center;
    color: #b18b52;
    font-size: 15px;
    line-height: 52px;
  }
  .u-tips-three {
    text-align: center;
    color: #9d9d9d;
    font-size: 11px;
    margin-top: 5px;
  }
  .u-advice {
    display: block;
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin: 10px auto;
    width: 188px;
    height: 51px;
    line-height: 51px;
    background: #f05724;
    border-radius: 8px;
  }
  .m-account {
    font-size: 17px;
    color: #f3ce97;
    width: 100%;
    padding: 0 39px;
    height: 63px;
    line-height: 63px;
    background: #140a09;
    margin: 0 auto 10px auto;
    .m-account-l {
      display: inline-block;
      width: 49%;
      span {
        color: #f24e24;
      }
    }
    .u-account-r {
      display: inline-block;
      width: 49%;
      text-align: right;
      a {
        text-decoration: underline;
        color: #0782ff;

      }
    }
  }
  .m-panel {
    background: #140a09;
    padding: 20px;
    margin-bottom: 20px;
    .u-panel-title {
      text-align: center;
      font-size: 17px;
      color: #f3ce97;
      padding-bottom: 20px;
      border-bottom: 1Px dashed #f3ce97;
    }
    .m-panel-content {
      padding-top: 20px;
      .m-panel-box {
        display: flex;
        color: #969696;
        font-size: 14px;
        padding-bottom: 10px;
        white-space: nowrap;
        .u-number {
          width: 80px;
        }
        .u-title {
          flex: 1;
        }
        .u-content {
          flex: 1.5;
        }
      }
    }
  }
  .m-alert {
    display: block;
    .m-plate_sure_layer {
      height: auto;
    }
    .list-block {
      font-size: 16px;
      padding-top: 20px;
      .item-content {
        min-height: 1.1rem;
        padding-left: 0;
        .cash-title {
          width: 70px;
          text-align: right;
        }
      }
      .cash-input {
        font-size: 16px;
        width: 120px;
        height: 30px;
        border: 1px solid #999;
        border-radius: 5px;
      }
      .cash-end {
        width: 20px;
      }
    }
  }
}
